.pageTwo {
    background-position: right center;
}
.pageTwo__nav {
    margin: 0px 0px 170px 0px;
}
.pageTwo__title {
    span {
        display: block;
        font-family: var(--NunitoSans);
        font-size: 45px;
    }
    font-family: var(--NunitoSans);
    margin: 0px 0px 15px 0px;
}
.pageTwo__text {
    margin: 0px 0px 50px 0px;
}