.pageThree {
    background-position: right center;
}
.pageThree__nav {
    margin: 0px 0px 175px 0px;
}
.pageThree__title {
    span {
        display: block;
    }
    margin: 0px 0px 10px 0px;
}
.pageThree__text {
    margin: 0px 0px 55px 0px;
    width: 40%;
}