//-----[---ПЕРЕМЕННЫЕ---]-------------------------------------------------------------------------------------------------------------
:root {
    --PTSans: "PT Sans", sans-serif;
    --WorkSans: "Work Sans", sans-serif;
    --Alegreya: "Alegreya", sans-serif;
    --NunitoSans: "Nunito Sans", sans-serif;
    --EmilysCandy: "Emilys Candy", sans-serif;
    --white: #fff;
    --black: #000;
  }
/* 
    font-family: 'Alegreya', serif;
    font-family: 'Emilys Candy', cursive;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
*/
//-----[--/ПЕРЕМЕННЫЕ/--]-------------------------------------------------------------------------------------------------------------



//-----[---ШРИФТЫ---]-----------------------------------------------------------------------------------------------------------------
//-----[Подключаем шрифты/]-----------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Emilys+Candy&family=Nunito+Sans:wght@400;600;700&family=PT+Sans:wght@400;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');
//-----[/Подключаем шрифты/]----------------------------------------------------------------------------------------------------------

//-----[Шрифт по умолчанию/]----------------------------------------------------------------------------------------------------------
body {
	font-family: var(--PTSans);
	font-style: normal;
	color: var(--white);
}
//-----[/Шрифт по умолчанию/]---------------------------------------------------------------------------------------------------------
//-----[--/ШРИФТЫ/--]-----------------------------------------------------------------------------------------------------------------




//-----[---ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ---]---------------------------------------------------------------------------------------------
@import './components/_normalize.scss';
* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
    color: #fff;
    position: relative;
    transition: all .3s ease-out;
    &:hover{
        color: dodgerblue;
    }
}
//-----[--/ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ/--]---------------------------------------------------------------------------------------------




//-----[---ОБОЛОЧКА---]---------------------------------------------------------------------------------------------------------------
body {
    overflow: hidden;
    position: relative;
}
.pageOne, .pageTwo, .pageThree, .pageFour, .pageFive {
    transform: scale(1);
    flex-shrink: 0;
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    transform: scale(0.5) rotate(-30deg) translate(-40%, 0%);
    @media (max-width: 768px) {
        transform: scale(0.3) rotate(-30deg) translate(-50%, 0%);
    }
}
.wrapper__row {
    display: flex;
    margin-bottom: 50px;
    &:nth-child(3) {
        margin: 0px 0px 50px -30%;
    }
    &:last-child {
        margin-bottom: 0;
        align-self: end;
        margin: 0px -90% 0px 0px;
    }
}
//-----[--/ОБОЛОЧКА/--]---------------------------------------------------------------------------------------------------------------




//-----[---ОСНОВНАЯ СЕТКА---]---------------------------------------------------------------------------------------------------------
.container {
	
}
//-----[--/ОСНОВНАЯ СЕТКА/--]---------------------------------------------------------------------------------------------------------




//-----[---ОСНОВНОЙ БЛОК---]----------------------------------------------------------------------------------------------------------

//-----[--/ОСНОВНОЙ БЛОК/--]----------------------------------------------------------------------------------------------------------




//-----[---ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ---]--------------------------------------------------------------------------
@import './components/base';
@import './components/pageOne';
@import './components/pageTwo';
@import './components/pageThree';
@import './components/pageFour';
@import './components/pageFive';
//-----[--/ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ/--]--------------------------------------------------------------------------




//-----[---Вспомогательные стили---]--------------------------------------------------------------------------------------------------
.none {
	display: none; 
}

/* для FireFox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--grey);
} */

/* для Chrome/Edge/Safari */
/* *::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: var(--grey);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 5px;
    border: 3px solid var(--accent);
}

*::selection {
	background-color: var(--grey);
	color: var(--accent);
} */
//-----[--/Вспомогательные стили/--]-------------------------------------------------------------------------------------------------- 